docs/n8n/n8n-error-workflow.json
{
  "name": "Typeform/Tally CRM Pipeline - Error Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const execution = $json.execution ?? {};\nconst original = $json.execution?.lastNodeExecutedData?.main?.[0]?.[0]?.json ?? $json;\n\nreturn [{\n  json: {\n    error_at: new Date().toISOString(),\n    failed_workflow: $json.workflow?.name ?? 'unknown_workflow',\n    execution_id: execution.id ?? $json.executionId ?? 'unknown_execution',\n    error_message: $json.error?.message ?? 'unknown_error',\n    lead_payload: original\n  }\n}];"
      },
      "id": "2",
      "name": "Build DLQ Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_DLQ_ENDPOINT }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_DLQ_AUTH_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "3",
      "name": "Persist DLQ Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        220
      ]
    },
    {
      "parameters": {
        "channel": "={{ $env.N8N_SLACK_CHANNEL_ID }}",
        "text": "=Erro no pipeline de leads\\nWorkflow: {{ $json.failed_workflow }}\\nExecution: {{ $json.execution_id }}\\nErro: {{ $json.error_message }}\\nLead: {{ $json.lead_payload.lead_name || 'n/a' }} <{{ $json.lead_payload.email || 'n/a' }}>",
        "blocksUi": {
          "blocksValues": []
        }
      },
      "id": "4",
      "name": "Slack Ops Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        760,
        380
      ],
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Build DLQ Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build DLQ Record": {
      "main": [
        [
          {
            "node": "Persist DLQ Payload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Ops Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "bc3baf66-a0af-4a53-b31a-8565267932a0",
  "id": "3"
}
